<div class="col-lg-12 mt-2">
    <h1>{{page_title}}</h1>
    <div class="alert alert-success col-md-6" *ngIf="status=='success'">
        El registro se ha completado correctamente, <a [routerLink]="['/login']">Inicia sesión aqui</a>
    </div>
    <div class="alert alert-danger col-md-6" *ngIf="status=='error'">
        El registro no se ha completado correctamente, vuelve a intentarlo más tarde
    </div>
    <form class="col-md-6 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z ]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El campo no es valido</small>
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z ]+">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">El campo no es
                valido</small>
        </div>
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El campo no es valido</small>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required pattern="[a-zA-Z ]+">
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">El campo no es
                valido</small>
        </div>
        <input type="submit" value="{{page_title}}" class="btn btn-success" [disabled]="registerForm.invalid">

    </form>
</div>